.footer{
    background-color: seagreen;
    display: flex;
    flex-flow: column;
    align-items: center;

    &__flex{
        display: flex;
    }

    &__text{
        color: white;
        font-size: 1rem;
        font-weight: 400;
        margin-top: 1rem;
        margin-right: 1.5rem;
    }

    &__social{
        max-width: 2rem;
        max-height: 2rem;
        margin-top: 1rem;
        margin-right: 1.5rem;
        padding-bottom: 1rem;
    }
}